header {
  text-align: center;
  background-color: #414F74;
  width: 100%;
  display: flex;
  justify-content: space-around;

  .title {
    font-size: 42px;
    margin: 30px auto;
    color: #34BFBF
  }

.link {
  font-size: 30px;
    padding: 42px 20px 0 0;
    color: #F28B50;
    &:hover{
      color: #F2BE5C;
    }
  }
}
