main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.AlbumItem{
  max-width: 200px;
  padding: 5px;
  a {
    img{
      max-width: 200px;
      height: auto;
    }
    .title{
      font-weight: bold;
    }
    .date{
      font-size: 0.8rem;
      margin-left: 1rem;
    }
  }
}
